.body{
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.content{
    width: 1280px;
    margin: 20px auto;
    text-align: center;
    color: #000;
}

.link, .link:hover{
    text-decoration: none;
}

.header{
    height: 100px;
    min-width: 1280px;
    background-color: #CAF982;
    box-shadow: 0 2px 1px rgba(0,0,0,0.3);
}

.nav{
    height: 100px;
    margin: 0 auto;
    width: 1280px;

    display: flex;
    justify-content: space-between;
}

.nav div{
    display: inline-block;
}

.nav .logo{
    display: flex;
}

.nav .logo img{
    height: 100px;
}

.nav-bar{
    display: flex;
}

.nav-bar ul{
    display: flex;
    margin: 0;
}

.nav-bar li{
    display: inline-block;
    list-style: none;
    width: fit-content;
    height: 100px;
    line-height: 100px;
    color: #000;

    text-align: center;
    padding: 0 30px;
}

.nav-bar .first{
    border-left: 0;
}

.nav-bar li:hover{
    background-color: #92D426;
}

.search{
    align-self: center;
}

.search .form-control{
    height: 40px;
}

.search .btn{
    background-color: #A5EE2F;
    border: none;
    color: #000;
    font-size: 1rem;
    height: 40px;
    padding:0 20px;
    margin-left: 8px
}

.search .btn:hover{
    background-color: #92D426;
    border: none;
    color: #000;
}

.green-bg{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    
    background-color: rgba(202, 249, 130, 0.5);
    display: flex;
    flex-direction: column;

    align-items: center;
}

.green-bg .logo{
    margin: 30px 0 100px 0;
}

.green-bg .logo img{
    width: 200px;
    height: auto;
}

.green-bg .center{
    display: flex;
    width: 1280px;
    align-items: center;
    justify-content: space-around;
}

.green-bg .info img{
    width: 375px;
    height: auto;
    border: 1px solid grey;
}

.green-bg .login{
    width: 350px;
    height: 400px;
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid black;
}

.green-bg .register{
    width: 350px;
    height: 450px;
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid black;
}

.green-bg .login div{
    margin: 20px 0;
}

.green-bg .login .title{
    font-weight: bold;
    font-size: 25px;

    margin-top: 0;
    margin-bottom: 50px;
}

.green-bg .login .reg{
    font-size: 12px;
    text-align: center;
}

.green-bg .login button{
    width: 330px;
    padding: 10px 0;

    font-size: 20px;
    margin-top: 40px;
}

.green-bg .register div{
    margin: 10px 0;
}

.green-bg .register .title{
    font-weight: bold;
    font-size: 25px;

    margin-top: 0;
    margin-bottom: 50px;
}

.green-bg .register .regulations{
    margin: 40px 0 10px 0;
    font-size: 12px;
    text-align: center;
    width: 330px;
}

.green-bg .register button{
    width: 330px;
    padding: 10px 0;

    font-size: 20px;
}

.green-bg .label{
    font-size: 18px;
}

.green-bg .input{
    width: 330px;
    border: 0;
    border-bottom: 1px solid black;
}

.green-bg .input:focus{
    outline: none;
}

.white-box{
    width: 1280px;
    background-color: white;
    border: 1px solid black;
    padding: 30px;

    box-shadow: 3px 2px #888888;
    height: fit-content;
}

.flex{
    display: flex;
}

.profile-pic img{
    width: 400px;
    height: 400px;

    object-fit: cover;
}

.profile-pic input{
    font-size: 15px;
    width: 200px;
    margin-top:15px;
}

.profile-info{
    margin-left: 30px;
    text-align: left;

    width: 800px;
    height: 360px;
    display: grid;
    grid-template-columns: 20% 2% 78%;
    
}

.profile-info .name{
    font-size: 25px;
    display: flex;
    align-self: center;
}

.profile input[type="button"]{
    font-size: 15px;
    padding: 5px 20px;
    margin-top: 20px;
}

.profile button{
    font-size: 15px;
    padding: 6px 20px;

    margin-top: 20px;
    border: 1px solid grey;
    border-radius: 3px;
}

.profile .input{
    border: 0;
    border-bottom: 1px solid grey;
}

.profile .input:focus{
    outline: none;
}

.profile label, .email, .dob, .gender, .address, .phone{
    margin: 0;
    display: flex;
    align-self: center;
}

.gender_input{
    width: 200px;
    display: flex;
    justify-content: space-around;
}

.gender_input .one-line{
    display: flex;
    align-items: center;
}

.one-line input{
    margin: 0 8px;
}

.error{
    font-size: 15px;
    color:red;
    font-style: italic;
}